<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>бібліотека</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>бібліотека N1</h1>
        </div>
    </header>
    
    <section id="home">
        <div class="container">
            <h2>Відаемо у бібліотеці N1</h2>
            <p>Насолоджуйтесь книгами лише у нашій бібліотеці.</p>
        </div>
    </section>
    <section id="catalog">
        <div class="container">
            <h2>Каталог</h2>
            <p>Перегляньте нашу колекцію книг і ресурсів. Використовуйте колесо миші щоб знайти певні назви чи авторів.</p>
            {% for book in books %}
                <p>{{book.name}}</p>
                <p>{{book.id}}</p>
                <p>{{book.pages}}</p>
            {% endfor %}
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; всі права захищені.</p>
        </div>
    </footer>
</body>
</html>


